# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
nibbler

# VSCode
*.vscode

# Library Folders
lib/VTK
lib/OpenGL
lib/Ogre3D
lib/SDL
lib/glsl-optimiser

# Other
.DS_Store
._*
.nfs.*
.tmp.c
.vscode
nibbler_log.txt
tmp.cpp
